body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background: linear-gradient(rgba(250,248,243,0.75), rgba(250,248,243,0.75)), url('/static/imagenes/celular2.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el área */
    background-position: center; /* Centra la imagen de fondo */
    min-height: 100vh;
}

.options {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options h2 {
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

select:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.button-container {
    text-align: center;
    margin-top: 20px;
    
}

input[type="button"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta la distancia desde la izquierda */
    display: inline-block;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: lightblue; /* Cambia el color de fondo al pasar el cursor */
}

.dropdown-content a {
    color: black; /* Cambia el color del texto */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black; /* Cambia el color del texto al pasar el cursor */
}

